body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

.container {
    width: 350px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#visitorForm{
    text-decoration-color: black;
}

h2, h3 {
    text-align: center;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* ::placeholder{
    color: black;
} */

::placeholder{
    color: black;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #1E88E5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1565C0;
}

.dashboard {
    width: 90%;
    margin: 20px auto;
}

.stats {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background: #1E88E5;
    color: white;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #1E88E5;
    color: white;
}

.approve {
    background-color: #4CAF50;
}

.reject {
    background-color: #E53935;
}